@media screen and (max-width: 768px) {
  .logo-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
  }

  .logo {
    width: 80%;
    margin-bottom: -30px;
  }

  .form-container {
    width: 100%;
    padding: 0 10px;
  }

  .boxOne,
  .boxTwo {
    flex-direction: column;
    gap: 5px;
  }
  h2 {
    font-size: 1.5rem;
  }
  button{
    font-weight: normal;
    font-size: 1rem;
  }
  button:hover {
    transform: none;
  }
  button:active {
    background: #191919;
  }
}
